<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="admin_menu" class="list-group">
        <a th:href="@{/admin/productos}" class="list-group-item list-group-item-action">Gestionar Productos</a>
        <a th:href="@{/admin/categorias}" class="list-group-item list-group-item-action">Gestionar Categorías</a>
        <a th:href="@{/admin/items}" class="list-group-item list-group-item-action">Gestionar Items Físicos</a>
        <a th:href="@{/admin/proveedores}" class="list-group-item list-group-item-action">Gestionar Proveedores</a>
        <a th:href="@{/admin/busqueda_avanzada}" class="list-group-item list-group-item-action">Búsqueda Avanzada</a>
    </div>
</body>
</html>